<!DOCTYPE html>
<html>
  <head>
    <title>Splurty1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="circle">
          <br />
          Funny
          <br />
          And
          <br />
          Insperational Quotes
          </div>
      </div>
      <div class="col-4 slogan">
        Your source for the funnest and most insperational quotes since 2019
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', '#' %>
        <%= link_to 'About', '#' %>

    </header>

<hr />

<br class="clear"/>

    <%= yield %>

  </body>
</html>
